.github {
  font-family: Helvetica, Consolas, arial, sans-serif;
  padding-bottom: 10px;
  background-color: white;
}

.github > *:first-child {
  margin-top: 0 !important; }
.github > *:last-child {
  margin-bottom: 0 !important; }

.github h1, .github h2, .github h3, .github h4, .github h5, .github h6 {
  margin: 20px 0 10px;
  padding: 0;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  cursor: text;
  position: relative; }

.github h1 {
  font-size: 28px;
  border-bottom: 1px solid #eee;
  color: black; }

.github h2 {
  font-size: 24px;
  border-bottom: 1px solid #eee;
  color: black; }

.github h3 {
  font-size: 18px;
  border-bottom: 1px solid #eee;
  }

.github h4 {
  font-size: 16px; 
  border-bottom: 1px solid #eee;
}

.github h5 {
  font-size: 14px; 
}

.github h6 {
  color: #777777;
  font-size: 14px;  
 }

.github p, .github blockquote, .github ul, .github ol, .github dl, .github li, .github table, .github pre {
  margin: 15px 0; }

.github hr {
  border: 0 none;
  color: #cccccc;
  height: 4px;
  padding: 0; }

.github > h2:first-child {
  margin-top: 0;
  padding-top: 0; }
.github > h1:first-child {
  margin-top: 0;
  padding-top: 0; }
  .github > h1:first-child + h2 {
    margin-top: 0;
    padding-top: 0; }
.github > h3:first-child, .github > h4:first-child, .github > h5:first-child, .github > h6:first-child {
  margin-top: 0;
  padding-top: 0; }

.github a:first-child h1, .github a:first-child h2, .github a:first-child h3, .github a:first-child h4, .github a:first-child h5, .github a:first-child h6 {
  margin-top: 0;
  padding-top: 0; }

.github h1 p, .github h2 p, .github h3 p, .github h4 p, .github h5 p, .github h6 p {
  margin-top: 0; }

.github li p.first {
  display: inline-block; }

.github ul, .github ol {
  padding-left: 30px; }

.github ul :first-child, .github ol :first-child {
  margin-top: 0; }

.github ul :last-child, .github ol :last-child {
  margin-bottom: 0; }

.github dl {
  padding: 0; }
  .github dl dt {
    font-size: 14px;
    font-weight: bold;
    font-style: italic;
    padding: 0;
    margin: 15px 0 5px; }
    .github dl dt:first-child {
      padding: 0; }
    .github dl dt > :first-child {
      margin-top: 0; }
    .github dl dt > :last-child {
      margin-bottom: 0; }
  .github dl dd {
    margin: 0 0 15px;
    padding: 0 15px; }
    .github dl dd > :first-child {
      margin-top: 0; }
    .github dl dd > :last-child {
      margin-bottom: 0; }

.github blockquote {
  border-left: 4px solid #dddddd;
  padding: 0 15px;
  color: #777777; }
  .github blockquote > :first-child {
    margin-top: 0; }
  .github blockquote > :last-child {
    margin-bottom: 0; }

.github table {
  padding: 0; }
  .github table tr {
    border-top: 1px solid #cccccc;
    background-color: white;
    margin: 0;
    padding: 0; }
    .github table tr:nth-child(2n) {
      background-color: #f8f8f8; }
    .github table tr th {
      font-weight: bold;
      border: 1px solid #cccccc;
      text-align: left;
      margin: 0;
      padding: 6px 13px; }
    .github table tr td {
      border: 1px solid #cccccc;
      text-align: left;
      margin: 0;
      padding: 6px 13px; }
    .github table tr th :first-child, .github table tr td :first-child {
      margin-top: 0; }
    .github table tr th :last-child, .github table tr td :last-child {
      margin-bottom: 0; }

.github img {
  max-width: 100%; }

.github span.align-center {
  display: block;
  overflow: hidden;
  clear: both; }
  .github span.align-center > span {
    display: block;
    overflow: hidden;
    margin: 13px auto 0;
    text-align: center; }
  .github span.align-center span img {
    margin: 0 auto;
    text-align: center; }
.github span.align-right {
  display: block;
  overflow: hidden;
  clear: both; }
  .github span.align-right > span {
    display: block;
    overflow: hidden;
    margin: 13px 0 0;
    text-align: right; }
  .github span.align-right span img {
    margin: 0;
    text-align: right; }
.github span.float-left {
  display: block;
  margin-right: 13px;
  overflow: hidden;
  float: left; }
  .github span.float-left span {
    margin: 13px 0 0; }
.github span.float-right {
  display: block;
  margin-left: 13px;
  overflow: hidden;
  float: right; }
  .github span.float-right > span {
    display: block;
    overflow: hidden;
    margin: 13px auto 0;
    text-align: right; }
